<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regressiontesting">
  <test  name="searchfunctionality">
    <classes>
      <class name="com.ibibo.ibibo_hotels.tests.HotelHomePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
